---
import watermark from '../../images/keitasplan/common/logo_S.svg?raw';

interface Props {
	id?: string;
}
const { id } = Astro.props;
---

<section class="p-biz-hero" id={id}>
	<div class="p-biz-hero__titles">
		<span class="p-biz-hero__ja">事業紹介</span>
		<span class="p-biz-hero__en">BUSINESS</span>
	</div>
	<span class="p-biz-hero__mark" aria-hidden="true" set:html={watermark} />
</section>

<style lang="scss">
	.p-biz-hero {
		position: relative;
		overflow: hidden;
		padding: size(185) size(108) size(112);

		@include mq('sp') {
			padding: size(205) size(45) size(148);

			&__titles {
				gap: size(3);
			}

			&__ja {
				font-size: size(80);
				letter-spacing: 0.1em;
			}

			&__en {
				font-size: size(35);
			}

			&__mark {
				top: size(120);
				width: size(587);
				height: size(587);
			}
		}

		&__titles {
			display: flex;
			flex-direction: column;
			gap: size(3);
			position: relative;
			z-index: 1;
		}

		&__ja {
			font-family: $Font;
			font-weight: 500;
			font-size: size(56);
			line-height: 1.4;
			letter-spacing: 0.1em;
			color: $brand-text;
		}

		&__en {
			font-family: $Font-Readex;
			font-weight: 500;
			font-size: size(29);
			line-height: 1.4;
			letter-spacing: 0.1em;
			color: $brand-text;
		}

		&__mark {
			position: absolute;
			top: size(118);
			right: 0;
			width: size(434);
			height: size(434);
			pointer-events: none;

			:global(svg) {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
</style>
