@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// iconに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Link
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-icon {
	display: block;
	width: 24px;
	height: 24px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	&-S {
		@extend .c-icon;
		width: 16px;
		height: 16px;
	}
	&-M {
		@extend .c-icon;
		width: 24px;
		height: 24px;
	}

	&-L {
		@extend .c-icon;
		width: 78px;
		height: 78px;
	}
	&-Xl {
		@extend .c-icon;
		width: 160px;
		height: 160px;
	}
}


// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 HeadingBig
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	// :::::::::::::::::::::::::::::::::::::::::::::
	//	✅ HeadingSmall
	// :::::::::::::::::::::::::::::::::::::::::::::