@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// モーダルウィンドウに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Modal
//	※ DEMO用のデザインのため、必要によってスタイリングする。消してしまってもOK
//	※ このDEMOスタイルは以下の html で使用できます。js-modal-hogehoge の hogehoge の部分は
//		trigger となる要素の date-modal の値と合わせる必要あり。
//
//	<button class="test" data-modal="js-modal-hoeghoge">これがTrigger</button>
//
//	<div class="c-modal-wrap js-modal-hoeghoge">
//		<div class="c-modal-wrap-inner">
//			<div class="c-modal-body">
//				<div class="c-modal-body-inner">
// 					ContentsHere
// 				</div>
// 			</div>
// 			<div class="c-modal-close-ovl js-modal-close"></div>
//		</div>
// </div>
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.c-modal {

	// Wrap --------------------
	&-wrap {
		width: 100%;
		height: 100svh;
		position: fixed;
		margin: auto;top: 0;left: 0;
		z-index: 10001;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		background: rgba($color: #000000, $alpha: 0.85);
		transition: 0.25s ease-in-out;
		overflow-y: scroll;
		overscroll-behavior-y: contain;
		-webkit-overscroll-behavior-y: contain;
		-ms-overflow-style: none; // IE,edge用
		scrollbar-width: none; // FireFox用
		&::-webkit-scrollbar { // Chrome,Safari用
			display:none;
		}


		&-inner {
			// min-height: 100vh;
			height: 100dvh;
			position: relative;
			padding: 0 2rem 8rem;
			@media only screen and (max-width: $Bp-7inch) {
				padding: 0;
			}
		}

		// IsOpen --------------------------
		&.is-modal-open {
			opacity: 1;
			pointer-events: auto;
			transition: 0.25s ease-in-out;
			visibility: visible;
		}

	}



	// Body --------------------
	&-body {
		width: calc( 930 * var(--max-fluid-ratio));
		margin: auto;
		z-index: 20;
		position: relative;
		@media only screen and (max-width: $Bp-7inch) {
			width: 100%;
			padding: calc( 104 * var(--min-fluid-ratio)) calc( 20 * var(--min-fluid-ratio));
			// border-radius: 1rem;
		}

		// BodyInner --------------------
		// &-inner {
		// 	width: min(800px,100%);
		// 	margin: auto;
		// 	@media only screen and (max-width: $Bp-7inch) {
		// 		width: 100%;
		// 	}
		// }

		// .c-btn-close {
		// 	display: block;
		// 	position: fixed;
		// 	top: calc( 16 * var(--max-fluid-ratio));
		// 	right: calc(330 * var(--max-fluid-ratio));
		// 	width: calc( 63 * var(--max-fluid-ratio));
		// 	height: calc( 63 * var(--max-fluid-ratio));
		// 	background-image: url(../assets/images/Modal/close.svg);
		// 	background-size: contain;
		// 	background-repeat: no-repeat;
		// 	z-index: 5;
		// 	@media only screen and (max-width: $Bp-7inch) {
		// 		top: calc( 20 * var(--min-fluid-ratio));
		// 		right: calc( 20 * var(--min-fluid-ratio));
		// 		width: calc( 63 * var(--min-fluid-ratio));
		// 		height: calc( 63 * var(--min-fluid-ratio));
		// 	}
		// }
	}


	// CloseOvl --------------------
	&-close-ovl {
		cursor: pointer;
		margin: auto; position: absolute;top: 0;right: 0;bottom: 0;left: 0;
		background: rgba(#000 ,0.1);
		z-index: 10;
	}

}



