---
import bg_pc from "../images/00Cta/bg_pc.jpg";
import { processImages } from "../styles/images";
//Images

//Components


interface Props {
  id?: string;
  class?: string;
  // サンプルデータを上書きする場合のオプション
  title?: string;
  subtitle?: string;
  description?: string;
  features?: string[];
}

// Propsからデータを取得
const { id } = Astro.props;

// カードデータ配列


// サンプル画像の処理
const imageStyles = await processImages({
    'bg_pc': bg_pc,
});
---

<section class="p-top-cta" id={id} style={imageStyles}>
    <div class="l-inner-m">
        
    </div>
</section>

<style lang="scss">
    @use "../styles/foundation/index" as *;


    .p-top-cta {
        position: relative;
        background-image: var(--bg_pc);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
</style>
