---
interface Props {
    question: string;
    answer: string;
}

const { question, answer } = Astro.props;
---

<details class="c-card-faq js-details">
    <summary class="c-card-faq__summary js-summary">
        <span class="c-card-faq__title">
            {question}
        </span>
        <span class="c-card-faq__icon"></span>
    </summary>
    <div class="c-card-faq__content js-content">
        <div class="c-card-faq__contentWrapper">
            <div class="c-card-faq__contentInner">
                <p class="c-card-faq__text">
                    {answer}
                </p>
            </div>
        </div>
    </div>
</details> 

<style lang="scss"> 
    @use "../../styles/foundation/index" as *;

    details.is-opened .icon {
        transform: rotate(180deg);
    }

    .c-card-faq {
        border-bottom: fluid(1) solid rgba(#3C3C3C, 0.2);
        &__summary {
            width: 100%;
            position: relative;
            display: flex;
            // align-items: center;
            gap: fluid(10);
            padding: fluid(40) 0;
            @media screen and (max-width: 960px) {
                padding: fluid-sp(40) 0;
                gap: fluid-sp(10);
            }
        }
        
        &__title {
            font-size: fluid(26);
            font-weight: 700;
            line-height: fluid(32);
            letter-spacing: fluid(2.2);
            @media screen and (max-width: 960px) {
                display: flex;
                font-size: fluid-sp(36);
                line-height: 2;
                gap: fluid-sp(10);
            }

            &::before {
                content: "Q";
                @include text-gradient;

                font-family: "oswald", sans-serif;
                font-size: fluid(38);
                font-weight: 500;
                line-height: 1;
                letter-spacing: fluid(1.6);
                color: #3C3C3C;
                @media screen and (max-width: 960px) {
                    font-size: fluid-sp(48);
                    line-height: 1;
                    letter-spacing: fluid-sp(1.6);
                    transform: translateY(fluid-sp(10));
                }
            }
        }

        &__icon {
            width: fluid(40);
            height: fluid(40);
            border-radius: 50%;
            background-color: #3C3C3C;
            position: relative;
            margin-left: auto;
            @media screen and (max-width: 960px) {
                width: fluid-sp(40);
                height: fluid-sp(40);
                flex-shrink: 0;
                transform: translateY(fluid-sp(15));
            }

            &::before,
            &::after {
                content: "";
                display: block;
                width: fluid(20);
                height: fluid(2);
                background-color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 960px) {
                    width: fluid-sp(20);
                    height: fluid-sp(2);
                }
            }
            &::before {
                transform: translate(-50%, -50%) rotate(-270deg);
                transition: transform 0.4s ease-in-out;

                .is-opened & {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }

        &__content {
            &Wrapper {
                padding-bottom: fluid(40);

                @media screen and (max-width: 960px) {
                    gap: fluid-sp(14);
                    padding: 0 fluid-sp(40) fluid-sp(40);
                }
            }

            &Inner {
                flex: 1;

                border-radius: fluid(8);
            }
        }

        &__text {
            font-size: fluid(20);
            font-weight: 500;
            line-height: fluid(32);
            letter-spacing: fluid(1.44);
            @media screen and (max-width: 960px) {
                font-size: fluid-sp(30);
                line-height: 2;
                letter-spacing: fluid-sp(1.5);
            }
        }

        &__detailsAvator {
            @media screen and (max-width: 960px) {
                width: fluid-sp(120);
                height: fluid-sp(120);
            }
        }
    }
</style>

<script>
    import { gsap } from 'gsap';

    document.addEventListener("DOMContentLoaded", () => {
        setUpAccordion();
    });
    /**
     * ライブラリ(GSAP)を使ってアコーディオンのアニメーションを制御します
     */
        const setUpAccordion = () => {
        const details = document.querySelectorAll(".js-details");
        const IS_OPENED_CLASS = "is-opened"; // アイコン操作用のクラス名

        details.forEach((element) => {
            const summary = element.querySelector(".js-summary");
            const content = element.querySelector(".js-content");

            summary.addEventListener("click", (event) => {
            // デフォルトの挙動を無効化
            event.preventDefault();

            // is-openedクラスの有無で判定（detailsのopen属性の判定だと、アニメーション完了を待つ必要がありタイミング的に不安定になるため）
            if (element.classList.contains(IS_OPENED_CLASS)) {
                // アコーディオンを閉じるときの処理
                // アイコン操作用クラスを切り替える(クラスを取り除く)
                element.classList.toggle(IS_OPENED_CLASS);

                // アニメーション実行
                closingAnim(content, element).restart();
            } else {
                // アコーディオンを開くときの処理
                // アイコン操作用クラスを切り替える(クラスを付与)
                element.classList.toggle(IS_OPENED_CLASS);

                // open属性を付与
                element.setAttribute("open", "true");

                // アニメーション実行
                openingAnim(content).restart();
            }
            });
        });
        }

        /**
         * アコーディオンを閉じる時のアニメーション
         */
        const closingAnim = (content, element) => gsap.to(content, {
            height: 0,
            opacity: 0,
            duration: 0.4,
            ease: "power3.out",
            overwrite: true,
            onComplete: () => {
                // アニメーションの完了後にopen属性を取り除く
                element.removeAttribute("open");
            },
        });

        /**
         * アコーディオンを開く時のアニメーション
         */
        const openingAnim = (content) => gsap.fromTo(
        content,
        {
            height: 0,
            opacity: 0,
        },
        {
            height: "auto",
            opacity: 1,
            duration: 0.4,
            ease: "power3.out",
            overwrite: true,
        });
</script>