---
import { siteMetadata } from '../../data/meta';
import Footer from '../../layouts/Footer.astro';
import Header from '../../layouts/Header.astro';
import Layout from '../../layouts/Layout.astro';
import PageHero from '../../section/common/PageHero.astro';
---

<Layout title={`利用規約 | ${siteMetadata.siteName}`}>
	<Header id="header" />
	<PageHero id="legal-hero" ja="利用規約" en="LEGAL NOTICE" spTitleLarge />
	<section class="p-legal">
		<div class="p-legal__inner">
			<div class="p-legal__doc">
				<h2 class="p-legal__docTitle">サイト利用規約</h2>
				<p class="p-legal__lead">
					当サイトは、株式会社ケイタスプラン（以下「当社」といいます）が管理・運営しています。以下の内容をご確認いただき、ご了解のうえでご利用ください。（以下、当サイトの利用者を「利用者」といいます）
				</p>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">1. 著作権について</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当サイトに掲載されているコンテンツの内容に関する一切の権利は、特に記載のない限り、当社に帰属します。
							</li>
							<li class="p-legal__item">
								当サイトのコンテンツは、著作権法、著作権に関する条約、およびその他の法律で保護されています。
							</li>
							<li class="p-legal__item">
								当社は、私的使用その他法律により明示的に認められる範囲を超えて、当社の書面による事前の承諾なしに、これらのコンテンツを使用ないし利用（複製、改変、転載、アップロード、掲示、送信、頒布、ライセンス、販売、出版、二次的著作物の作成等の一切の行為を含む。※）することを禁止します。
							</li>
						</ol>
						<p class="p-legal__note">
							※著作権法上、転載、翻案、翻訳、要約等は、著作権者の許諾が必要です。著作権者の許諾がない転載、翻案、翻訳、要約、および法令に従わない
							引用等は、違法行為です。
							著作権侵害等の行為には、法的手続きを行うこともあります。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">2. 免責事項について</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当社は、当サイトに情報を掲載する際には、細心の注意を払っておりますが、当サイトにおける情報の内容の正確性、商品性、有用性、確実性、特定目的への適合性、権利の不侵害、安全性（機能の中断、エラーの発生、当サイトおよびサーバーにコンピュータウィルスその他の有害物がないことなど）につき、明示・黙示を問わず、いかなる種類の保証も致しません。
							</li>
							<li class="p-legal__item">
								当社は、当サイト内の「コンテンツ」やURLを予告なく変更または廃止することがあります。また、当サイトの運営を中断または中止させていただくことがあります。あらかじめご了承下さい。
							</li>
							<li class="p-legal__item">
								利用者が当サイトにおける情報を使用されたこと、もしくはご使用になれなかったこと、また、当サイトをご利用になったことにより生じる損害について、当社に帰責事由がない限り、当社は法律上の瑕疵担保責任等を含む責任を負いません。
							</li>
							<li class="p-legal__item">
								当サイトの閲覧・利用を通じて当社に提供されたあらゆる情報について、個人情報の保護に関する法律及び当社の個人情報保護方針において保護される情報を除き、当社は義務（不正競争防止法その他法令に定める義務を含みますがこれに限定されません）負担いたしません。
							</li>
							<li class="p-legal__item">
								当サイトからリンクしている、当社以外のサイトの内容は、リンク先の各社の責任で管理・運営されています。当社は、リンク先のホームページをご利用になったことにより生じるいかなる損害について、一切の責任を負いません。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">3. リンクについて</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当サイトからリンクしている、当社以外のサイトの内容は、リンク先の各社の責任で管理・運営されており、当社の管理監督下にはありません。
							</li>
							<li class="p-legal__item">
								当社は、当社に帰責事由がない限り、リンク先のサイトの内容、ご利用になったことにより生じた損害について責任を負いません。
							</li>
							<li class="p-legal__item">
								当サイトへのリンクにつきましては、以下のいずれかに該当する場合には、お断りします。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										当社および当社が属するグループ企業を誹謗中傷する内容または信用を毀損する内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										違法なコンテンツを掲載したもの、違法な活動に関与した、または関与した可能性のある内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										公序良俗に反する内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										フレームその他の方法で当社サイトのコンテンツであることが不明になる方法によりリンクすること。
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						4. 準拠法および管轄裁判所
					</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							当サイトおよびサイトポリシーの解釈および適用は、日本法に準拠します。また、当サイトに関する当社と利用者間のすべての紛争は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">5. 本規約の変更について</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							当社は、サイトポリシーの全部または一部を予告なく変更することがあります。<br
							/>変更されたサイトポリシーは、当サイトに掲載された時点から効力を有するものとします。<br
							/>利用者は適宜ご確認いただきますようお願いします。<br
							/>変更後のサイトポリシーについては、当サイトをご利用いただくことによって同意いただいたものとみなします。
						</p>
					</div>
				</div>
			</div>
			<div class="p-legal__doc">
				<h2 class="p-legal__docTitle">出張買取サービス利用規約</h2>
				<p class="p-legal__lead">
					このご利用規約は、株式会社ケイタスプラン（以下「当社」）が提供する出張買取サービス（以下、「本サービス」）における利用条件を定めるものです。本サービス利用者様（以下「ご利用者様」）には本規約に従い本サービスをご利用いただきます。
				</p>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第1条：(目的)</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							本規約は、当社と、ご依頼いただく商品（以下「本商品」という）をお客様との間で、お取引するにあたり、当事者間の権利義務関係を明確にすることを目的とします。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第2条：(出張査定に関して)
					</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								本サービスでは、買取させていただく商品の現物を実際に触り拝見した上で査定させて頂きます。
							</li>
							<li class="p-legal__item">
								買い取り依頼商品が未開封や新品の場合でも、動作確認・物品確認の為に開封致します。その為、開封後に買取り依頼商品の返却が発生した場合でも、開封等についての責任は一切負いかねます。
							</li>
							<li class="p-legal__item">
								商品個数とは、当社にて個数を数えさせて頂いた時点での確認内容と致します。
							</li>
							<li class="p-legal__item">
								査定金額とは、その商品の付属品等を全てを含む価値と致します。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第3条：(取引の前提)</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								お取引の前提として買取させていただく商品がメーカー製品または商品に記載されているブランド社製のものであることを前提とします。上記前提を充足しない場合は、当社は、利用者様へ事前に告知することなく直ちに利用者様との契約を解除することができます。
							</li>
							<li class="p-legal__item">
								貴金属・地金・宝飾品等の刻印されている内容、証明書に記載されている内容と実物の商品とに差異がある場合、当社は、利用者様へ事前に告知することなく直ちに利用者様との契約を解除することができます。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										当社および当社が属するグループ企業を誹謗中傷する内容または信用を毀損する内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										違法なコンテンツを掲載したもの、違法な活動に関与した、または関与した可能性のある内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										公序良俗に反する内容よりリンクすること。
									</li>
									<li class="p-legal__item">
										フレームその他の方法で当社サイトのコンテンツであることが不明になる方法によりリンクすること。
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第4条：(本人確認について)
					</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								古物営業法により、買取取引をする際、次の方法でのご本人様確認、代金の支払いをさせて頂きます。
								<p class="p-legal__text">
									<strong
										>「本人確認書類（運転免許証等※1）を用いた取引の場合」</strong
									><br
									/>・査定場所と本人確認書類に記載されている住所が一致している必要があります。<br
									/><strong
										>「住民票の写し等（※2）を用いた取引の場合」</strong
									><br
									/>・査定場所と住民票の写し等に記載されている住所が一致している必要があります。
								</p>
								<p class="p-legal__text">
									※1
									運転免許証等とは以下のもので現住所の記載があるものが有効です。（全て、有効期限内のもの、住所変更の届出が済んでいるものに限る）・運転免許証・旅券（パスポート）・健康保険証・官公庁及び特殊法人の本人確認書類で写真付のもの・外国人登録証明書（特別永住者証明書）<br
									/>※2
									住民票の写し等とは・住民票の記載事項証明書・戸籍の謄本、もしくは抄本（戸籍の附票の写しが添付されているものに限る）・印鑑証明書・外国人登録原票の写し・外国人登録原票の記載事項証明書を指します。
								</p>
							</li>
							<li class="p-legal__item">
								買取金額の多寡に関わらず全てのご利用者様を対象に本人確認をさせて頂きます。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第5条：(20歳未満のご利用者様について)
					</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							20歳未満の方は、査定申込書に保護者のサインと印鑑を頂くことを前提にお取引させていただきます。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第6条：(被補助人、被保佐人、被後見人のご利用者様について)
					</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							被補助人、被保佐人、被後見人の方は、査定申込書に補助人、保佐人、後見人サインと印鑑を頂くことを前提にお取引させていただきます。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第7条：(表明、保証)</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							お客様は、本サービスを利用するにあたり以下の内容が真実であり、且つ正確であることを表明し、且つ保証するものとします。
						</p>
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当社に対して提供する個人情報に虚偽の内容が含まれていないこと。
							</li>
							<li class="p-legal__item">
								本人確認書類が偽造、変造したものではないこと。
							</li>
							<li class="p-legal__item">
								本商品は、お客様が正当な権原を有すること。
							</li>
							<li class="p-legal__item">
								本商品が以下のいずれにも該当しないこと。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										知的財産法、不正競争防止法、製造物責任法、家庭用品品質表示法、電気用品安全法、消費生活用製品安全法、不当景品類及び不当表示防止法その他の関係法令及びこれらに係る各種通達・ガイドラインなどに違反する物
									</li>
									<li class="p-legal__item">
										盗品、遺失物、無主物
									</li>
									<li class="p-legal__item">
										第三者の著作権、商標権、意匠権、その他知的財産権を侵害する物
									</li>
									<li class="p-legal__item">
										犯罪行為によって生じ、若しくはこれによって得た物又は犯罪行為の報酬として得た物など、刑事事件において没収の対象となる物
									</li>
									<li class="p-legal__item">
										第三者の担保権などが設定された物
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第8条：(返品・クーリングオフについて)
					</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							特定商取引法（第58条の14）クーリング・オフ制度とは訪問購入に係る売買契約の申し込みや締結が行われた場合であっても、法定書面を受領した日から起算して８日以内であれば、当該売主たる消費者（申込者等）は書面により申込みの撤回や契約の解除ができるという制度です。<br
							/>ご利用者様が、出張買取をご依頼頂きご成約頂いた場合、買取商品に関して申込書面を受領された日から8日間経過するまでは、無条件でお申込みの撤回をおこなう事ができます。<br
							/>書類での申し立てに限らずお電話での申し立てにも対応致します。<br
							/>返品・クーリングオフのご依頼に関しては以下よりご依頼ができます。<br
							/>お客様相談室直通ダイヤル 03-6812-1272<br
							/>受付時間：9:00～19:00
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第9条：(当社の責任範囲)</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当社起因で商品を破損、紛失した場合には客観的かつ合理的根拠に基づいた判断の上、補償をさせて頂きます。なお当社に故意または重過失がある場合を除き、1回の取引で10,000円を上限として損害賠償の責を負うものとします。
							</li>
							<li class="p-legal__item">
								商品の価値に直接かかわらないと当社が判断する付属品（袋、レシート、箱、クリーニング袋、ハンガー等）に関する補償は致しません。
							</li>
							<li class="p-legal__item">
								故障や、時間、移動に伴う自然劣化は補償対象外とします。
							</li>
							<li class="p-legal__item">
								本条は、ご利用者様に対する当社の責任の全てを規定したものであり、当社は、いかなる場合でも、ご利用者様の逸失利益、間接損害、特別損害、弁護士費用その他の本条に規定のない損害を賠償しないものとします。
							</li>
							<li class="p-legal__item">
								商品のポケットの中などに入っているご利用者様の私物（現金、カード類、鍵、ハンカチ等）その他商品としての使用に直接の関係を有しない物に関する補償は致しません。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第10条：(禁止行為)</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								ご利用者様は、以下の行為を行ってはならないものとします。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										ご利用の際に虚偽の内容を入力あるいは登録申請する行為。
									</li>
									<li class="p-legal__item">
										本サービスの運営を妨げ、その他本サービスに支障をきたすおそれのある行為。
									</li>
									<li class="p-legal__item">
										他のご利用者様、第三者もしくは当社に迷惑、不利益もしくは損害を与える行為、またはそれらのおそれのある行為。
									</li>
									<li class="p-legal__item">
										他のご利用者様、第三者もしくは当社の著作権等の知的財産、プライバシー・人格権その他権利を侵害する行為、またはそれらのおそれのある行為。
									</li>
									<li class="p-legal__item">
										公序良俗に反する行為その他法令に違反する行為、またはそれらのおそれのある行為。
									</li>
									<li class="p-legal__item">
										その他、当社が不適当と判断する行為。
									</li>
									<li class="p-legal__item">
										故意に複数回に分けてお品物をお送り頂くこと、また明らかに査定・買取を目的としない行為。
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第11条：(本規約違反等への対処)
					</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当社は、ご利用者様が本規約に違反した場合、ご利用者様による本サービスの利用に関し他者からクレーム・請求等が為され、かつ当社が必要と認めた場合、またはその他の理由で本サービスの運営上不適当と判断した場合は、当該ご利用者様に対し、次のいずれかまたはこれらを組み合わせた措置を講ずることがあります。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										他者との間で、クレーム・請求等の解消のための協議を行うことを要求します。
									</li>
									<li class="p-legal__item">
										事前に通知を要することなく、本サービスの利用停止処分とします。
									</li>
								</ol>
							</li>
							<li class="p-legal__item">
								ご利用者様は、前項の規定によって、当社が、同項に定める措置を講ずべき義務を負うものではないことを承諾します。また、ご利用者様は、当社が前項各号に定める措置を講じた場合に、当該措置に起因する結果に関し、当社に対し、いかなる異議苦情も申し述べないものとします。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">
						第12条：(個人情報の取扱及び利用目的)
					</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								当社は、ご利用者様の個人情報を以下の目的で利用します。だたし、商品等（保証書、ギャランティーカード等）に記載されている個人情報等に関しては対象外とします。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										ご利用者様情報管理
									</li>
									<li class="p-legal__item">
										当社及び第三者の商品等（金融商品等を含むものとします。本条において以下同じ。）の販売
									</li>
									<li class="p-legal__item">
										キャンペーン･懸賞企画、アンケートの実施
									</li>
									<li class="p-legal__item">
										当社でご利用者様登録を必要とするサービスを利用するにあたり、ご利用者様登録等作業の簡素化
									</li>
									<li class="p-legal__item">
										当社宅配査定サービスの運営上必要な事項の通知（電子メールによるものを含むものとします。）
									</li>
									<li class="p-legal__item">
										当社及び第三者の商品等の広告・宣伝、販売の勧誘（電子メールによるものを含むものとします。）
									</li>
									<li class="p-legal__item">
										メールマガジンの送信
									</li>
									<li class="p-legal__item">
										商品等の梱包・発送業務
									</li>
									<li class="p-legal__item">
										買取金額の振込
									</li>
									<li class="p-legal__item">
										各種問合せ、アフターサービス対応
									</li>
									<li class="p-legal__item">
										マーケティングデータの調査・分析、新たなサービス開発
									</li>
								</ol>
							</li>
							<li class="p-legal__item">
								当社はプライバシーポリシーに従い、個人情報を適切に保護し、個人情報を個人識別が可能な状態で第三者に提供しないものとします。ただし、次の各号記載の場合、第三者に個人情報を提供することができるものとし、利用者様はかかる個人情報の提供に同意します。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										ご利用者様の同意が得られた場合
									</li>
									<li class="p-legal__item">
										法令等により開示が求められた場合、犯罪捜査など法律手続の中で開示を要請された場合、または消費者センター、弁護士会等の公的機関から正当な理由に基づき照会を受けた場合
									</li>
									<li class="p-legal__item">
										ご利用者様の注文情報を業務提携企業等に転送する場合
									</li>
									<li class="p-legal__item">
										ご利用者様ーが業務提携企業から買取申込があった際に業務提携企業等に開示する場合
									</li>
									<li class="p-legal__item">
										商品等の発送またはサービスの提供のために必要な場合
									</li>
									<li class="p-legal__item">
										代金の決済に関する事業者に開示する場合
									</li>
									<li class="p-legal__item">
										当社が行う業務の全部または一部を第三者に委託する場合
									</li>
									<li class="p-legal__item">
										合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
									</li>
									<li class="p-legal__item">
										個人情報保護法その他の法令により認められた場合
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第13条：(再委託)</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							当社は、本サービスに関する当社の業務の全部または一部を、当社の判断にて第三者に委託する場合があります。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第14条：(反社会的勢力)</h3>
					<div class="p-legal__body">
						<ol class="p-legal__list">
							<li class="p-legal__item">
								ご利用者様は、現在、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等その他これらに準ずる者（以下「反社会的勢力等」）に該当しないこと、及び、次の各号のいずれか一にも該当しないことを表明し、かつ将来にわたっても該当しないことを表明し、保証するものとします。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										反社会的勢力等が経営を支配している、または経営に実質的に関与していると認められる関係を有すること
									</li>
									<li class="p-legal__item">
										自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に反社会的勢力等を利用していると認められる関係を有すること
									</li>
									<li class="p-legal__item">
										反社会的勢力等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
									</li>
									<li class="p-legal__item">
										役員または経営に実質的に関与している者が反社会的勢力等と社会的に非難されるべき関係を有すること
									</li>
								</ol>
							</li>
							<li class="p-legal__item">
								ご利用者様は、自らまたは第三者を利用して次の各号のいずれか一にでも該当する行為を行ってはなりません。
								<ol class="p-legal__rlist">
									<li class="p-legal__item">
										暴力的な要求行為
									</li>
									<li class="p-legal__item">
										法的な責任を超えた不当な要求行為
									</li>
									<li class="p-legal__item">
										本サービスの利用に関して、脅迫的な言動をし、または暴力を用いる行為
									</li>
									<li class="p-legal__item">
										風説を流布し、偽計を用いまたは威力を用いて当社の信用を毀損し、または当社の業務を妨害する行為
									</li>
									<li class="p-legal__item">
										その他前各号に準ずる行為
									</li>
								</ol>
							</li>
							<li class="p-legal__item">
								ご利用者様は、自らが、第1項のいずれか一にでも違反し、またはそのおそれがあることが判明した場合には、当社に対し、直ちにその旨を通知するものとします。
							</li>
							<li class="p-legal__item">
								当社は、ご利用者様が前3項のいずれか一にでも違反した場合は、本規約に基づき負担する債務に関するご利用者様の有する期限の利益を喪失させ、また、通知または催告等何らの手続を要しないで直ちに本規約に基づく契約の全部または一部を解除することができるものとします。
							</li>
							<li class="p-legal__item">
								当社は、前項に基づく解除によりご利用者様が被った損害につき、一切の義務及び責任を負わないものとします。
							</li>
						</ol>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第15条：(規約の変更)</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							当社は、ご利用者様の事前の承諾を得ることなく、本規約を変更できるものとします。当社が本規約を変更して以降、ご利用者様が本サービスを利用した場合には、ご利用者様は本規約の変更に同意したものとみなします。
						</p>
					</div>
				</div>
				<div class="p-legal__block">
					<h3 class="p-legal__blockTitle">第16条：(裁判管轄)</h3>
					<div class="p-legal__body">
						<p class="p-legal__text">
							本サービスの利用に関して訴訟の必要が発生した場合には、東京地方裁判所を第一審の専属合意管轄裁判所にするものとします。
						</p>
					</div>
				</div>
				<div class="p-legal__warning">
					<p class="p-legal__warningTitle">
						突然の訪問営業に<br class="u-sp-only" />ご注意ください
					</p>
					<p class="p-legal__warningText">
						弊社と何ら関係のない第三者による、不審な突然訪問の情報が寄せられておりますので、お知らせ申し上げます。<br
						/>具体的には、「エコクリア」の名前を騙り、当社への申し込みをしていないのに突然自宅へ訪問をして強引な買取を行う、
						断ると悪態をついて帰る等の行為が報告されております。<br
						/><br
						/>弊社「エコクリア」では、お客様からのお問い合わせや、事前のご予約がない場合での買取に関する訪問、類似する業務は一切行っておりませんので充分にお気を付け下さい。
					</p>
				</div>
			</div>
		</div>
	</section>
	<Footer id="footer" variant="subpage" />
</Layout>

<style lang="scss">
	.p-legal {
		position: relative;
		background: linear-gradient(180deg, #e9e9e9 0%, #fff 100%);
		border-radius: size($section-card-radius) size($section-card-radius) 0 0;
		padding-block: size(120) size(110);

		@include mq('sp') {
			padding-block: size(121) size(120);
			background: linear-gradient(360deg, #fff 0%, #e9e9e9 100%);
		}

		&__inner {
			width: size(1050);
			margin-inline: auto;

			@include mq('sp') {
				width: size(650);
			}
		}

		&__doc {
			& + & {
				margin-top: size(117);

				@include mq('sp') {
					margin-top: size(120);
				}
			}
		}

		&__docTitle {
			font-family: $Font;
			font-weight: 700;
			font-size: size(40);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(55);
			}
		}

		&__lead {
			margin-top: size(15);
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			text-align: justify;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__block {
			margin-top: size(47);

			@include mq('sp') {
				margin-top: size(90);
			}
		}

		&__blockTitle {
			display: flex;
			align-items: center;
			gap: size(14);
			font-family: $Font;
			font-weight: 700;
			font-size: size(22);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(40);
			}

			&::before {
				content: '';
				flex-shrink: 0;
				align-self: stretch;
				width: size(5);
				border-radius: size(10);
				background-color: $brand-blue;
			}
		}

		&__body {
			margin-top: size(25);
		}

		&__text {
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}

			&:not(:first-child) {
				margin-top: size(13);
			}
		}

		&__note {
			margin-top: size(13);
			padding-left: size(20);
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				padding-left: size(28);
				font-size: size(30);
			}
		}

		&__list {
			padding-left: size(20);
			list-style: decimal;

			@include mq('sp') {
				padding-left: size(28);
			}

			&:not(:first-child) {
				margin-top: size(13);
			}
		}

		&__rlist {
			margin-top: size(13);
			padding-left: size(30);
			list-style: lower-roman;

			@include mq('sp') {
				padding-left: size(48);
			}
		}

		&__item {
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__warning {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			min-height: size(374);
			margin-top: size(47);
			padding: size(30) size(30) size(30) size(49);
			border-radius: size(10);
			background-color: #dfefff;

			@include mq('sp') {
				min-height: size(952);
				width: size(678);
				margin-top: size(90);
				margin-inline: size(-14);
				padding: size(50) size(49);
			}
		}

		&__warningTitle {
			align-self: center;
			text-align: center;
			font-family: $Font;
			font-weight: 700;
			font-size: size(23);
			line-height: 1.7;
			color: $brand-blue;

			@include mq('sp') {
				font-size: size(40);
			}
		}

		&__warningText {
			max-width: size(965);
			margin-top: size(17);
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.7;
			color: $brand-text;

			@include mq('sp') {
				max-width: size(580);
				font-size: size(30);
			}
		}
	}
</style>
