---
import DataSectionHead from '../../components/common/DataSectionHead.astro';
import VerticalLabel from '../../components/common/VerticalLabel.astro';
---

<section class="p-form" id="contact-form">
	<div class="p-form__inner">
		<VerticalLabel text="FORM" />
		<div class="p-form__body">
			<DataSectionHead ja="お問い合わせフォーム" />
			<div class="p-form__embed">
				<!-- お問い合わせフォーム埋め込み予定（フォームサービス決定後に差し込み） -->
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	.p-form {
		position: relative;
		margin-top: size(-$section-card-radius);
		background: linear-gradient(180deg, $brand-white 0%, #e9e9e9 100%);
		border-radius: size($section-card-radius) size($section-card-radius) 0 0;

		&__inner {
			display: flex;
			align-items: stretch;
			width: size(1166);
			margin-inline: size(128) auto;
			padding-block: size(116) size(200);

			@include mq('sp') {
				width: size(629);
				margin-inline: size(45) auto;
				padding-block: size(108) size(142);
			}
		}

		&__body {
			flex: 1;
			margin-left: size(81);
		}

		&__embed {
			width: size(900);
			margin: size(80) auto 0;
			padding: size(80);
			border-radius: size(30);
			background-color: $brand-white;

			@include mq('sp') {
				width: 100%;
				margin-top: size(81);
				padding: size(80) 0;
				border-radius: 0;
				background-color: transparent;
			}
		}
	}
</style>
