---
import { siteMetadata } from '../../data/meta';
import Footer from '../../layouts/Footer.astro';
import Header from '../../layouts/Header.astro';
import Layout from '../../layouts/Layout.astro';
import PageHero from '../../section/common/PageHero.astro';
---

<Layout title={`個人情報保護方針 | ${siteMetadata.siteName}`}>
	<Header id="header" />
	<PageHero
		id="privacy-hero"
		ja='個人情報<br class="u-sp-only" />保護方針'
		en="PRIVACY POLICY"
		spTitleLarge
	/>
	<section class="p-privacy">
		<div class="p-privacy__inner">
			<div class="p-privacy__doc">
				<p class="p-privacy__lead">
					株式会社ケイタスプラン(以下、「当社」という。)は、ネット型リユース事業を行っております。当社は、当社の事業の用に供するすべての個人情報を適切に取扱うため、当社全従業者が遵守すべき行動基準として本個人情報保護方針を定め、その遵守の徹底を図ることといたします。
				</p>
				<ol class="p-privacy__list">
					<li class="p-privacy__item">
						当社は、個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守します。
					</li>
					<li class="p-privacy__item">
						当社は、事業の内容及び規模を考慮した適切な個人情報の取得、利用及び提供を行います。それには特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行わないこと及びそのための措置を講じることを含みます。
					</li>
					<li class="p-privacy__item">
						当社は、個人情報の取扱いの全部又は一部を委託する場合は、その取扱いを委託された個人情報の安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行います。
					</li>
					<li class="p-privacy__item">
						当社は、本人の同意がある場合又は法令に基づく場合を除き、個人情報を第三者に提供することはありません。
					</li>
					<li class="p-privacy__item">
						当社は、個人情報の漏えい、滅失又はき損の防止及び是正のための措置を講じます。
					</li>
					<li class="p-privacy__item">
						当社は、個人情報の取扱いに関する苦情及び相談への適切かつ迅速な対応に努めます。また、当社が保有する開示対象個人情報の開示等の求め(利用目的の通知、開示、訂正・追加又は削除、利用又は提供の停止）を受け付けます。開示等の求めの手続きにつきましては、ご連絡ください。
					</li>
					<li class="p-privacy__item">
						当社は、個人情報保護マネジメントシステムの継続的改善を行ないます。
					</li>
				</ol>
				<p class="p-privacy__sign">
					制定日：2021年3月10日<br />株式会社ケイタスプラン<br
					/>代表取締役社長　小林義典
				</p>
			</div>
			<div class="p-privacy__doc p-privacy__doc--handling">
				<h2 class="p-privacy__docTitle">個人情報の取扱いについて</h2>
				<div class="p-privacy__block">
					<h3 class="p-privacy__blockTitle">
						1.直接書面以外の方法によって取得した個人情報の利用目的
					</h3>
					<div class="p-privacy__body">
						<p class="p-privacy__text p-privacy__text--medium">
							(1)
							弊社サービスの全部又は一部をご利用いただいたお客様や弊社サービスの資料請求・お問合せをいただいたお客様の個人情報
						</p>
						<ol class="p-privacy__list">
							<li class="p-privacy__item">
								お問い合わせ・相談等への適切な対応
							</li>
							<li class="p-privacy__item">
								満足度アンケート等への協力依頼
							</li>
							<li class="p-privacy__item">
								事業におけるより良い商品・サービスの開発
							</li>
							<li class="p-privacy__item">
								商品・サービス・イベントの紹介
							</li>
							<li class="p-privacy__item">
								商品・サービスの受発注、発送、決済及び対応
							</li>
							<li class="p-privacy__item">
								マーケティング調査及び分析
							</li>
							<li class="p-privacy__item">
								経営分析のための統計数値作成及び分析結果の利用
							</li>
							<li class="p-privacy__item">
								録音あるいは録画し、サービス向上、品質向上の確認のため
							</li>
						</ol>
					</div>
				</div>
				<div class="p-privacy__block">
					<h3 class="p-privacy__blockTitle">
						2. 個人情報の開示等及び苦情・相談
					</h3>
					<div class="p-privacy__body">
						<p class="p-privacy__text">
							当社の保有する開示対象個人情報に関して、お客様ご本人から利用目的の通知、開示、内容の訂正・追加・削除、利用の停止、消去及び第三者への提供の停止を請求される場合、及び、その他個人情報の取扱いに関する苦情・相談がある場合には、下記にご連絡ください。求めに応じて遅滞なく回答致します。
						</p>
					</div>
				</div>
				<div class="p-privacy__block">
					<h3 class="p-privacy__blockTitle">
						3. 個人情報の第三者提供
					</h3>
					<div class="p-privacy__body">
						<p class="p-privacy__text">
							当社は、お客様ご本人の同意を得た場合（マイナンバーを除く）または法令で認められる場合を除き、個人情報を第三者に提供いたしません。なお、予め明示した利用目的において、業務委託先に提供する場合は、提供する個人情報は必要な範囲のみに限定し、提供先に対して契約等により個人情報の管理を義務付けるとともに、適切な指導・監督等を行います。
						</p>
					</div>
				</div>
				<div class="p-privacy__block">
					<h3 class="p-privacy__blockTitle">
						4. 利用状況の把握、サービス向上、広告活動
					</h3>
					<div class="p-privacy__body">
						<p class="p-privacy__text">
							当社が運営する当ウェブサイトでは、ウェブサイトの品質向上のために、お客様のアクセス情報を解析しております。または、お客様のプライバシー設定に従って弊社サービスやその他の特定のパートナーのウェブサイトでパーソナライズしたプロモーションを展開します。ここでは自動データ収集ツールを使用したり、お客様に興味を持っていただけそうな広告を表示するために、弊社がマーケティングサービスプロバイダーやデジタルマーケティングネットワークとお客様の情報の一部を共有したりする場合もあります。
						</p>
						<div class="p-privacy__sub">
							<h4 class="p-privacy__subTitle">
								(1)Google Analyticsについて
							</h4>
							<p class="p-privacy__text">
								当社は、お客様の興味やニーズにより適したサービスを提供するための参考として、当社サービスの利用状況の把握および分析に、Google社の提供するGoogle
								Analyticsを利用しています。<br />Google
								Analyticsは、クッキー（ファーストパーティCookie）を利用して当社サービスの利用状況を分析します。<br
								/>Google社によるアクセス情報の収集方法および利用方法については、Google
								Analyticsサービス利用規約およびGoogle社プライバシーポリシーによって定められています。<br
								/><a
									class="p-privacy__link"
									href="https://www.google.com/analytics/terms/jp.html"
									target="_blank"
									rel="noopener">Google Analytics利用規約</a
								><br /><a
									class="p-privacy__link"
									href="https://policies.google.com/privacy?hl=ja"
									target="_blank"
									rel="noopener"
									>Google社のプライバシーポリシー</a
								>
							</p>
							<p class="p-privacy__text">
								また、Google
								Analyticsを無効化することが可能です。<br
								/>以下のページより「Google
								Analyticsオプトアウトアドオン」をダウンロードおよびインストールし、ブラウザのアドオン設定で有効にしてください。<br
								/><a
									class="p-privacy__link"
									href="https://tools.google.com/dlpage/gaoptout?hl=ja"
									target="_blank"
									rel="noopener"
									>Google Analyticsオプトアウトアドオン</a
								>
							</p>
						</div>
						<div class="p-privacy__sub">
							<h4 class="p-privacy__subTitle">
								(2)Cookieについて
							</h4>
							<p class="p-privacy__text">
								当社ウェブサイトには、お客様に一層便利にご利用いただくため、一部のページで「Cookie」という技術を使用しています。Cookieにより、ウェブサイトはお客様のコンピュータを識別することができるようになりますが、お客様のお名前、ご住所、電話番号、メールアドレスといった個人を特定可能な情報を取得することは一切ありません。お客様は、ご利用いただくブラウザの設定によりCookieの受け取りを拒否したり、Cookieを受け取ったときに警告を表示させたりすることができます。お客様がCookieの受け取りを拒否された場合も当社ウェブサイトをご利用いただけますが、一部機能がご利用になれない場合があります。
							</p>
						</div>
						<div class="p-privacy__sub">
							<h4 class="p-privacy__subTitle">
								(3)ウェブビーコン（web beacon）について
							</h4>
							<p class="p-privacy__text">
								当社は、お客様のサイトのご利用状況を調査するためにウェブビーコンを使用する場合がありますが、これによりお客様のお名前、ご住所、電話番号、メールアドレスといった個人を特定可能な情報を取得することは一切ありません。
							</p>
						</div>
						<div class="p-privacy__sub">
							<h4 class="p-privacy__subTitle">
								(4)第三者企業のCookieおよびウェブビーコン情報の利用について
							</h4>
							<p class="p-privacy__text">
								当社ウェブサイトでは、お客様のアクセス解析や最適な広告配信をするために、第三者企業によるCookieやウェブビーコンを用いたサイト利用情報の取得および第三者企業を介した広告配信を行っています。第三者企業が関わるアクセス解析や広告配信に利用するCookieおよびウェブビーコン情報では、個人の識別は一切されません。<br
								/>第三者企業によるCookieおよびウェブビーコン情報の利用については、それぞれの第三者企業のサイトをご覧ください。また、Cookieおよびウェブビーコン情報を無効にしたい（オプトアウトしたい）場合は、それぞれの第三者企業のサイトにアクセスし、手順に沿ってCookieおよびウェブビーコンを無効化してください。なおCookieおよびウェブビーコン情報を無効化（オプトアウト）した場合、それぞれのサービスを活用する際に制限が生じる場合があります。
							</p>
						</div>
					</div>
				</div>
				<div class="p-privacy__block">
					<h3 class="p-privacy__blockTitle">5. 情報取得の経緯</h3>
					<div class="p-privacy__body">
						<p class="p-privacy__text">
							当社が取得するお客様の情報は、全てお客様の意思によってご提供いただくものです。なお、サービスの利用に関連して当社が取得する情報の全部又は一部をご提供いただけない場合は、サービスの利用をお断りする場合がございますので、あらかじめご了承下さい。
						</p>
					</div>
				</div>
				<div class="p-privacy__warning">
					<p class="p-privacy__warningTitle">
						突然の訪問営業に<br class="u-sp-only" />ご注意ください
					</p>
					<p class="p-privacy__warningText">
						弊社と何ら関係のない第三者による、不審な突然訪問の情報が寄せられておりますので、お知らせ申し上げます。<br
						/>具体的には、「エコクリア」の名前を騙り、当社への申し込みをしていないのに突然自宅へ訪問をして強引な買取を行う、
						断ると悪態をついて帰る等の行為が報告されております。<br
						/><br
						/>弊社「エコクリア」では、お客様からのお問い合わせや、事前のご予約がない場合での買取に関する訪問、類似する業務は一切行っておりませんので充分にお気を付け下さい。
					</p>
				</div>
			</div>
		</div>
	</section>
	<Footer id="footer" variant="subpage" />
</Layout>

<style lang="scss">
	.p-privacy {
		position: relative;
		background: linear-gradient(180deg, #e9e9e9 0%, #fff 100%);
		border-radius: size($section-card-radius) size($section-card-radius) 0 0;
		padding-block: size(120) size(99);

		@include mq('sp') {
			background: linear-gradient(360deg, #fff 0%, #e9e9e9 100%);
			padding-block: size(121) size(120);
		}

		&__inner {
			width: size(1050);
			margin-inline: auto;

			@include mq('sp') {
				width: size(650);
			}
		}

		&__doc {
			&--handling {
				margin-top: size(79);

				@include mq('sp') {
					margin-top: size(120);
				}
			}
		}

		&__docTitle {
			font-family: $Font;
			font-weight: 700;
			font-size: size(40);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(55);
			}
		}

		&__lead {
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			text-align: justify;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__sign {
			margin-top: size(13);
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			text-align: right;
			width: 100%;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__block {
			margin-top: size(47);

			@include mq('sp') {
				margin-top: size(90);
			}
		}

		&__blockTitle {
			display: flex;
			align-items: center;
			gap: size(14);
			font-family: $Font;
			font-weight: 700;
			font-size: size(22);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(40);
			}

			&::before {
				content: '';
				flex-shrink: 0;
				align-self: stretch;
				width: size(5);
				border-radius: size(10);
				background-color: $brand-blue;
			}
		}

		&__body {
			margin-top: size(25);
		}

		&__text {
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			text-align: justify;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}

			&:not(:first-child) {
				margin-top: size(13);
			}

			&--medium {
				font-weight: 500;
			}
		}

		&__link {
			text-decoration: underline;
			text-underline-offset: 0.15em;
			color: $brand-text;
		}

		&__list {
			padding-left: size(20);
			list-style: decimal;

			@include mq('sp') {
				padding-left: size(28);
			}

			&:not(:first-child) {
				margin-top: size(13);
			}
		}

		&__item {
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__sub {
			margin-top: size(24);
		}

		&__subTitle {
			font-family: $Font;
			font-weight: 700;
			font-size: size(18);
			line-height: 1.4;
			color: $brand-text;

			@include mq('sp') {
				font-size: size(30);
			}
		}

		&__warning {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			min-height: size(374);
			margin-top: size(47);
			padding: size(30) size(30) size(30) size(49);
			border-radius: size(10);
			background-color: #dfefff;

			@include mq('sp') {
				min-height: size(952);
				width: size(678);
				margin-top: size(90);
				margin-inline: size(-14);
				padding: size(50) size(49);
			}
		}

		&__warningTitle {
			align-self: center;
			text-align: center;
			font-family: $Font;
			font-weight: 700;
			font-size: size(23);
			line-height: 1.7;
			color: $brand-blue;

			@include mq('sp') {
				font-size: size(40);
			}
		}

		&__warningText {
			max-width: size(965);
			margin-top: size(17);
			font-family: $Font;
			font-weight: 400;
			font-size: size(18);
			line-height: 1.7;
			color: $brand-text;

			@include mq('sp') {
				max-width: size(580);
				font-size: size(30);
			}
		}
	}
</style>
