@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// カードに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Card
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-faq {
    position: relative;

    &__content {
        margin-top: calc( 10 * var(--max-fluid-ratio));
        padding-block: calc( 80 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            padding-block: calc( 90 * var(--min-fluid-ratio));
        }
    }
    
    &__title {
        font-size: calc( 38 * var(--max-fluid-ratio));
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: calc( 45 * var(--min-fluid-ratio));
        }   
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: calc( 42 * var(--max-fluid-ratio));
        margin-top: calc( 56 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            margin-top: calc( 85 * var(--min-fluid-ratio));
            gap: calc( 0 * var(--min-fluid-ratio));
        }
    }
}