@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// カードに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Message
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-message {
    position: relative;
    padding-block: calc( 133 * var(--max-fluid-ratio)) calc( 153 * var(--max-fluid-ratio));
    @media screen and (max-width: 768px) {
        padding-block: calc( 115 * var(--min-fluid-ratio)) calc( 200 * var(--min-fluid-ratio));
    }

    &__content {
        @media screen and (max-width: 768px) {
            width: calc( 608 * var(--min-fluid-ratio));
            margin-inline: auto;
        }
    }

    &__en {
        font-family: $Font-Sub;
        font-size: calc( 14 * var(--max-fluid-ratio));
        font-weight: bold;
        text-transform: capitalize;
        @media screen and (max-width: 768px) {
            font-size: calc( 20 * var(--min-fluid-ratio));
            letter-spacing: 0.2em;
        }
    }

    &__heading {
        width: calc( 316 * var(--max-fluid-ratio));
        margin-top: calc( 40 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            width: calc( 484 * var(--min-fluid-ratio));
            margin-top: calc( 40 * var(--min-fluid-ratio));
        }
    }

    &__title {
        font-size: calc( 40 * var(--max-fluid-ratio));
        font-weight: bold;
        line-height: 1.5;
        margin-top: calc( 30 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            font-size: calc( 60 * var(--min-fluid-ratio));
            margin-top: calc( 40 * var(--min-fluid-ratio));
        }   
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__text {
        align-self: center;
        display: grid;
        gap: calc( 40 * var(--max-fluid-ratio));
        font-size: calc( 20 * var(--max-fluid-ratio));
        padding-top: calc( 40 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            font-size: calc( 32 * var(--min-fluid-ratio));
            padding-left: calc( 20 * var(--min-fluid-ratio));
            margin-top: calc( 85 * var(--min-fluid-ratio));
            padding-top: 0;
        }
    }
}