@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// カードに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Card
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-plan {
    position: relative;
    padding-block: calc( 90 * var(--max-fluid-ratio)) calc( 70 * var(--max-fluid-ratio));
    @media screen and (max-width: 768px) {
        padding-block: calc( 80 * var(--min-fluid-ratio)) calc( 60 * var(--min-fluid-ratio));
    }
    .l-inner {
        position: relative;
        z-index: 1;
    }
    &__arrow {
        position: relative;
        display: block;
        width: calc( 53 * var(--max-fluid-ratio));
        margin-inline: auto;
        margin-top: calc( 20 * var(--max-fluid-ratio));
        margin-bottom: calc( -10 * var(--max-fluid-ratio));
        z-index: 1;
        @media screen and (max-width: 768px) {
            margin-top: calc( 30 * var(--min-fluid-ratio));
            width: calc( 53 * var(--min-fluid-ratio));
            margin-bottom: calc( -20 * var(--min-fluid-ratio));
        }

        * {
            display: block;
            width: 100%;
            height: 100%;
        }
    }


    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc( 10 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            gap: calc( 10 * var(--min-fluid-ratio));
        }

        .en {
            font-size: calc( 14 * var(--max-fluid-ratio));
            font-family: $Font-Sub;
            font-weight: bold;
            line-height: 1;
            @media screen and (max-width: 768px) {
                font-size: calc( 20 * var(--min-fluid-ratio));
                letter-spacing: 0.2em;
            }
        }
        .ja {
            font-size: calc( 38 * var(--max-fluid-ratio));
            @media screen and (max-width: 768px) {
                font-size: calc( 45 * var(--min-fluid-ratio));
            }
        }
    }

    &__list {
        margin-top: calc( 42 * var(--max-fluid-ratio));
        display: flex;
        flex-direction: column;
        gap: calc( 65 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            margin-top: calc( 60 * var(--min-fluid-ratio));
            gap: calc( 40 * var(--min-fluid-ratio));
        }
    }
    &__text {
        font-size: calc( 24 * var(--max-fluid-ratio));
        color: #27444f;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: calc( 32 * var(--min-fluid-ratio));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: calc( 30 * var(--max-fluid-ratio));
    }

    &__floatNote {
        font-size: calc( 14 * var(--max-fluid-ratio));
        background: rgba(255, 255, 255, 0.33);
        color: #27444f;
        padding: calc( 10 * var(--max-fluid-ratio)) calc( 14 * var(--max-fluid-ratio));
        margin-top: calc( 18 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            font-size: calc( 26 * var(--min-fluid-ratio));
            padding: calc( 10 * var(--min-fluid-ratio)) calc( 14 * var(--min-fluid-ratio));
            margin-top: calc( 30 * var(--min-fluid-ratio));
        }
    }

    &__img {
        margin-top: calc( 38 * var(--max-fluid-ratio));
        width: calc( 185 * var(--max-fluid-ratio));
        margin-inline: auto;
        @media screen and (max-width: 768px) {
            margin-top: calc( 90 * var(--min-fluid-ratio));
            width: calc( 185 * var(--min-fluid-ratio));
        }
    }

    &__imgText {
        font-size: calc( 24 * var(--max-fluid-ratio));
        text-align: center;
        margin-top: 18px;
        @media screen and (max-width: 768px) {
            font-size: calc( 32 * var(--min-fluid-ratio));
            line-height: 1.8;
        }

        .accent {
            background: #134f6a;
            color: #fff;
            padding: calc( 2 * var(--max-fluid-ratio)) calc( 8 * var(--max-fluid-ratio));
        }

        .lg {
            display: block;
            font-size: calc( 38 * var(--max-fluid-ratio));
            margin-top: calc( 10 * var(--max-fluid-ratio));
            @media screen and (max-width: 768px) {
                font-size: calc( 45 * var(--min-fluid-ratio));
                margin-top: calc( 20 * var(--min-fluid-ratio));
            }
        }
    }
}