@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// カードに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Card
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-service {
    padding-top: calc( 40 * var(--max-fluid-ratio));
    padding-bottom: calc( 100 * var(--max-fluid-ratio));
    @media screen and (max-width: 768px) {
        padding-top: calc( 10 * var(--min-fluid-ratio));
        padding-bottom: calc( 100 * var(--min-fluid-ratio));
    }

    &__title {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: calc( 20 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            gap: calc( 10 * var(--min-fluid-ratio));
            justify-content: flex-end;
            padding-left: calc( 90 * var(--min-fluid-ratio));
        }

        .sentence {
            font-size: calc( 38 * var(--max-fluid-ratio));
            font-weight: 700;
            color: #fff;
            writing-mode: vertical-rl;
            line-height: 1.5;
            letter-spacing: 0.2em;
            @media screen and (max-width: 768px) {
                font-size: calc( 45 * var(--min-fluid-ratio));
            }
        }

        .accent {
            background-color: #fff;
            padding: calc( 10 * var(--max-fluid-ratio)) calc( 10 * var(--max-fluid-ratio)) 0;
            color: $blue01;
            margin-bottom: calc( 10 * var(--max-fluid-ratio));
            @media screen and (max-width: 768px) {
                font-size: calc( 60 * var(--min-fluid-ratio));
                padding: calc( 10 * var(--min-fluid-ratio)) calc( 10 * var(--min-fluid-ratio)) 0;
                margin-bottom: calc( 10 * var(--min-fluid-ratio));
            }
        }
    }

    &__bubble {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc( 10 * var(--max-fluid-ratio)) calc( 60 * var(--max-fluid-ratio));
        margin-top: calc( 80 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            margin-top: calc( 230 * var(--min-fluid-ratio));
            grid-template-columns: 1fr;
            gap: calc( 10 * var(--min-fluid-ratio)) calc( 20 * var(--min-fluid-ratio));
        }   
    }

    &__solution {
        margin-top: calc( 50 * var(--max-fluid-ratio));
        position: relative;
        @media screen and (max-width: 768px) {
            // margin-top: calc( -80 * var(--min-fluid-ratio));
            width: 100vw;
            // width: 100%;
            margin: calc( -60 * var(--min-fluid-ratio)) calc(50% - 50vw) 0;
        }

        &::after {
            content: "";
            display: block;
            width: calc( 2 * var(--max-fluid-ratio));
            background: rgb(94,219,118);
            height: calc( 110 * var(--max-fluid-ratio));
            background: rgb(94,219,118);
            background: linear-gradient(0deg, rgba(94,219,118,1) 0%, rgba(251,235,207,1) 100%);
            margin-inline: auto;
            position: absolute;
            top: calc( -30 * var(--max-fluid-ratio));
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            @media screen and (max-width: 768px) {
                content: none;
            }
        }


        > * {
            display: block;
            position: relative;
            width: calc( 1000 * var(--max-fluid-ratio));
            z-index: 1;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }

    &__bubbleTitle {
        width: calc( 500 * var(--max-fluid-ratio));
        position: relative;
        z-index: 1;
        margin-top: calc( -30 * var(--max-fluid-ratio));
        margin-inline: auto;
        @media screen and (max-width: 768px) {
            width: calc( 698 * var(--min-fluid-ratio));
            margin-top: calc( -180 * var(--min-fluid-ratio));
        }
    }
}
