@charset "utf-8";
@use "../../foundation/index" as *;

// 💬 Description.........................................
//
// カードに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Card
//
// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-voice {
    position: relative;
    padding-bottom: calc( 200 * var(--max-fluid-ratio));
    @media screen and (max-width: 768px) {
        padding-bottom: calc( 190 * var(--min-fluid-ratio));
    }
    &__btnWrap {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        gap: calc( 24 * var(--max-fluid-ratio));
        margin-top: calc( 28 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            gap: calc( 20 * var(--min-fluid-ratio));
            margin-top: calc( 50 * var(--min-fluid-ratio));
        }
    }

    &__swiper {
        margin-top: calc( 50 * var(--max-fluid-ratio));
        @media screen and (max-width: 768px) {
            margin-top: calc( 40 * var(--min-fluid-ratio));
        }
    }
}
